スポンサーリンク
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- karaageR -->
<div style="text-align:left;margin-left:0px">
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6660796932619209"
     data-ad-slot="9139203376"
     data-ad-format="horizontal"></ins>
</div>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>


<style type="text/css">
  body {font-family:"Avenir Next", sans-serif;}
 .entry-content h4 { color: rgb(59, 66, 126);/*文字色*/
                    background: rgb(243, 242, 252); /*背景色*/
                    padding: 10px 10px; /*見出しまわりのスペース 上下、左右*/
                    border-left: 9px solid rgb(97, 101, 134); /*見出し左の線*/}
  .list-entry-article .thumb-image 
      {
      width: 100px; /*サムネイル画像の横幅*/
      height: 100px; /*サムネイルが画像の縦幅*/
      border-radius: 0em; /*サムネイル画像の角の丸みをなくす*/
      border: solid 3px rgb(61, 61, 61); /*画像の枠線をつける*/
      }
  .date
      {
      color: white; /*日付の文字色*/
      background: #444B99;/*日付の背景色*/
      padding: 0px 10px;/*日付の文字まわりのスペース*/
      }
    
  .footer-action-wrapper{
    display:none;
  }

  .touch-item-list{
    display:none;
  }

  .entry-content h3, .entry-content h1, 
  .entry-content h2, .hatena-module-foot h3 {
    font-size: 110%;
    font-weight: bold;
    margin: 1em 0 0.5em 0;
    padding: 4px 10px;
    border-left: solid 10px #c0392b;
    background: #eee;
  }
  

/* For Amazon Link ---*/
.hatena-asin-detail a {
    color: #e47911;
}

.hatena-asin-detail a:hover {
    color: #ff9900;
}

.hatena-asin-detail {
    position: relative;
}

.hatena-asin-detail > a,
.hatena-asin-detail > div {
    position: relative;
    z-index: 2;
}

.hatena-asin-detail::before {
    color: #ddd;
    content: "\f034";
    cursor: default;
    display: inline-block;
    font: 36px/1 blogicon;
    vertical-align: middle;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}
/* --- For Amazon Link*/
</style>

<script type="text/javascript">
  amzn_assoc_ad_type = "link_enhancement_widget";
  amzn_assoc_tracking_id = "karaage0703-22";
  amzn_assoc_placement = "";
  amzn_assoc_marketplace = "amazon";
  amzn_assoc_region = "JP";
</script>
<script src="//z-fe.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&MarketPlace=JP"></script>
